@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply 
  box-border 
  m-0 
  p-0
  scroll-smooth;  
}



.arrow_down {
  @apply absolute bottom-5 inset-x-auto;
}

:root {
  --foreground-rgb: 255, 243, 211;
  --background-start-rgb: 218, 165, 32;
  --background-end-rgb: 184, 134, 11;
}

.gradient {  
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
