@tailwind base;
@tailwind components;
@tailwind utilities;

.contact__container {
    @apply 
        w-full 
        mx-auto
        bg-brand3
        flex
        flex-col
        justify-center
        items-center
        pt-[100px]
}

.contact__container__distort {
    @apply
    bg-brand1
    w-full    
    -skew-y-1
    pt-14
    pr-4
    pb-14
    pl-4
};

.contact__container__normalize {
    @apply
    bg-brand2   
    skew-y-1
    flex
    smart:flex-col
    tablet:flex-col
    desktop:flex-row
    flex-wrap     
};